/*html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
}*/
.jumbotron {
    background-image: url(../img/werchter1.jpg);
    transition: background 1s linear;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 500px;
}
textarea {
    width: 100%;
}
.carousel-control-prev, .carousel-control-next {
    height: 50%;
    opacity: 0.75;
}
.card:first-child {
    border-top: 1px solid #004b00;
}
#Visitors {
    display: none;
}
h1 {
    color: white;
    mix-blend-mode: difference;
    font-family: 'Pacifico', cursive;The
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 1em;
}